<h1>memo list</h1>

<div>

  <div>
    <a href='/memo/new'>new memo</a>
  </div>

  <form>
    <input type='seach' placeholder='search' name='q'>
  </form>

  <table>
    <thead>
      <tr>
        <th>title</th>
      </tr>
    </thead>
    <tbody>
      <% memos.forEach((memo) => { %>
        <tr>
          <td>
            <a href='/memo/<%= memo.id %>'><%= memo.title %></a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
