<div class='ui container'>

  <div id='app'>

    <h1>#{{memo.id}} {{memo.title}}</h1>

    <div>
      {{memo.note}}
    </div>

    <div class='ui comments'>
      <h3 class='ui dividing header'>Comments</h3>
      <div class='comment' v-for='comment in memo.comments'>
        <span class='author'>
          {{comment.user.name}}
        </span>
        <div class='metadata'>
          <span class="date">{{comment.createdAt}}</span>
        </div>
        <div class='text'>
          {{comment.body}}
        </div>
        <div class='actions'>
          <a href='javascript:' v-on:click='deleteComment(comment)'>delete</a>
        </div>
      </div>
    </div>

    <form class='ui form reply' v-on:submit.prevent='addComment'>
      <div class='field'>
        <label>name</label>
        <input type='text' v-model='newComment.user.name'>
      </div>
      <div class='field'>
        <label>comment</label>
        <textarea v-model='newComment.body'></textarea>
      </div>
      <button class='ui blue labeled submit icon button' type='submit'>
        <i class='icon edit'></i> Add Comment
      </button>

    </form>

  </div>

</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js'></script>
<script>
(function(){

window.addEventListener('DOMContentLoaded', function(){
  main()
})

function main(){

  var memo = <%- JSON.stringify(memo) %>

  var vue = new Vue({
    el: '#app',
    data: {
      memo: memo,
      newComment: {},
    },
    methods: {
      addComment(e){
        this.newComment.memo = memo.id
        io.socket.post('/api/memoComment', this.newComment, (res) => {
          this.memo.comments.push(res)
        })
        this.newComment = {}
      },
      deleteComment(comment){
        var id = comment.id
        io.socket.delete('/api/memoComment/' + id, (res) => {
          console.log('delete', res)
          this.memo.comments = this.memo.comments.filter((comment) => comment.id !== id)
        })
      }
    }
  })

  io.socket.on('memo', (res) => {
    console.log('on', res)
    fetch(vue, memo.id)
  })

  fetch(vue, memo.id)

  function fetch(vue, id){
    io.socket.get('/api/memo/' + id , (memo) => {
      console.log('get', memo)
      vue.memo = memo
    })
  }


}

})()
</script>
