<h1>user list</h1>

<div id='app' v-cloak>

  <form v-on:submit.prevent='add'>
    <input type='text' v-model='newUser.name'>
  </form>

  <table>
    <thead>
      <th>id</th>
      <th>name</th>
      <th>createdAt</th>
      <th></th>
    </thead>
    <tbody>
      <tr v-for='user in users'>
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.createdAt}}</td>
        <td>
          <button v-on:click='del(user)'>delete</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js'></script>
<script>
(function(){

window.addEventListener('DOMContentLoaded', function(){
  main()
})

function main(){

  io.socket.on('user', function(res){
    console.log('on', res)
    if(res.verb === 'created'){
      vue.users.push(res.data)
    }else if(res.verb === 'destroyed'){
      var id = res.id
      vue.users = vue.users.filter((user) => user.id != id)
    }
  })

  io.socket.get('/api/user', function(users){
    console.log('get', users)
    vue.users = users
  })

  var vue = new Vue({
    el: '#app',
    data: {
      users: [],
      newUser: {
        name: ''
      },
    },
    methods: {
      add: function(e){
        io.socket.post('/api/user', this.newUser, (res) => {
          console.log('post', res)
          this.users.push(res)
        })
        this.newUser.name = ''
      },
      del: function(user){
        var id = user.id
        io.socket.delete('/api/user/' + id, (res) => {
          console.log('delete', res)
          this.users = this.users.filter((user) => user.id !== id)
        })
      }
    }
  })

}

})()
</script>
